# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/uiDesigner.xml
/misc.xml
/modules.xml
/vcs.xml
C:\Users\Hoseop\IdeaProjects\InflearnCodingTest\out\production\InflearnCodingTest\section01\Main.class
C:\Users\Hoseop\IdeaProjects\InflearnCodingTest\out\test\InflearnCodingTest\section01\MainTest.class